<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="JobControl" connectionString="Data Source=192.168.2.49;Persist Security Info=False;Initial Catalog=ETL_Log;User ID=sa;pwd=Kxtx888;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DtexecPath" value="C:\Program Files (x86)\Microsoft SQL Server\110\DTS\Binn" />
    <add key="KitchenPath" value="F:\pdi-ce-6.0.0.0-353\data-integration" />
    <add key="ParallelDegree" value="5" />
    <add key="ToList" value="zhouxd@kxtx.cn" />
    <add key="CCList" value="" />
    <add key="MailProfile" value="Job_Notification" />
    <add key="RetryTimes" value="5" />
    <add key="JobControlLogPath" value="F:\KXTX-ETL\JobControl\Log\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>